doctype html
html
    head
        meta(charset='utf-8')
        title Checkbox List
        link(rel='stylesheet', href='../src/list.css')
        link(rel='stylesheet', href='base.css')
        style.
            #aside {
                height: 100%;
            }
    body
        #aside

        script(src='./bundle.js')
